
/*.button-next {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .button-next span:nth-child(1) {
    text-align: right;
  }

  */


* {
  box-sizing: border-box;
}

body {
  font-family: 'Lora', serif;
}

header, nav, main {
  width: 70%;
  margin: auto;
  border: 1px solid black;
}

h1 {
  text-align: center;
}

.artist-image-content {
  width:100%;
  padding: 20px;
}

.img-index {
  background-color: #ccc;
  width: 100%;
  min-height: 200px;
}

.button-next {
  width: 100%;
  display: grid;
  text-align:right;
}

.button {
  text-align: right;
  background-color: #ccc;
  border-radius: 12px;
  border: 1px solid black;
  padding: 8px;
}
/* two columns shows up*/
@media only screen and (min-width: 1024px) {
  .artist-page {
    display: grid;
    grid-template-columns: 1 fr 1 fr;
  }
}
