svg{
    transform-origin:50% 50%;
    animation:15s rotateRight infinite linear;
    margin: 5%;
}

body{
  background-color: #feb010;
}
@keyframes rotateRight{
    100%{ transform:rotate(360deg); }
}
