/*partials.scss*/
$body-font: 'Pangolin', helvetica;
$header-font: 'Luckiest Guy', helvetica;
$primary-text: #094A70;
$secondary-text: #666666;
$highlight-text: #FF969A;
$primary-background: #D1D0AB;
$header-text-lg: 60px;
$header-text-md: 48px;
$header-text-sm: 32px;
$body-text: 34px;
