* {
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
}

button{
  font-family: 'Jost', sans-serif;
}
h1{
  font-family: 'Righteous', sans-serif;
  font-size:40px;
  line-height:42px;
  margin-bottom: 5px;
}

h4{
  font-family: 'Righteous', sans-serif;
  font-size:55px;
  margin-bottom: 10px;
}


main {
  margin: 15px 50px 15px 50px;
}

p {
  font-size:22px;
  line-height:28px;
}

/*nav-bar*/
.nav-bar{
  display: flex;
}

.logo-container {
float: right;
margin-left: 20px;
flex: 1;
justify-content: space-around;
}

.logo{
  height:15vh;
}

/*nav pop-out*/
.btn{
  position: sticky;
  z-index: 1;
  top: 10px;
  left: 10px;
  height: 60px;
  width: 60px;
  text-align: center;
  background: #443790;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}
.btn.click{
  left: 260px;
}
.btn span{
  color: white;
  font-size: 28px;
  line-height: 60px;
}
.btn.click span:before{
  content: '\f00d';
}
.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: white;
  transition: left 0.4s ease;
}
.sidebar.show{
  left: 0px;
}
.sidebar .text{
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #443790;
  letter-spacing: 1px;
}
nav ul{
  background: #443790;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(243, 191, 67, 0.1);
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 20px;
  font-weight: 500;
  display: block;
  width: 100%;
}
nav ul li.active a{
  color: #F08A3E;
  border-left-color: none;
}
nav ul li a:hover{
  background: #F08A3E;
  color: white;
}
nav ul ul{
  position: static;
  display: none;
}
nav ul .feat-show.show{
  display: block;
}
nav ul .serv-show.show1{
  display: block;
}
nav ul ul li{
  line-height: 42px;
  border-top: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
nav ul li.active ul li a{
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}
nav ul ul li a:hover{
  color: white!important;
  background: #1e1e1e!important;
}
nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
]

/*HERO*/
.cta {
  display:flex;
  align-content: center;
  justify-content: center;
}

#cta-select{
  border-radius: 15px;
  background: #E37428;
  color: #fff;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing:2px;
  font-weight:600;
  border: none;
}

.some-page-wrapper {
  margin: 15px;
  background-color: red;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 20px;
}

.column-one {
  height: 100%;
}

.column-two {
  height: 100%;
}

#hero-image {
  top: 45%;
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*locations*/
.locations{
  margin-top:0px;
  margin-bottom: 30px;
  display: flex;
  align-content: space-between;
  justify-content: space-around;
  margin-bottom: 10%;
}

.locations-card{
    align-items: center;
}

.photo{
  height: 50vh;
  width: 70vh;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*sauce scroll*/
.container-shop {
  margin-top: 0px;
  display: flex;
  overflow-x: auto;
  align-items: center;
  height: 100vh;
}

.container-shop img {
    margin-right: 60px;
    drop-shadow: 0px 5px 3px black ;
}

.container-shop::-webkit-scrollbar {
    display: none;
}

/*rotate*/
#rotate {
  display: flex;
  align-items: flex-end;
  opacity: 90%;
    margin-top: -200px;
    margin-bottom: -100px;
    margin-left: 100vh;
    height:30vh;
		-webkit-animation: rotation 8s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}


/*saucy background*/
.sauce-ocean {
  z-index:-1;
  height: 100%;
  width:100%;
  position:sticky;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(../images/wave-01.svg) repeat-x;
  position: absolute;
  top: -250px;
  width: 6400px;
  height: 250px;
  animation: wave 20s cubic-bezier( 0.45, 0.5, 0.8, 0.65) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -200px;
  animation: wave 20s cubic-bezier( 0.45, 0.5, 0.8, 0.65) -.125s infinite, swell 20s ease -1.25s infinite;
  opacity: 1;
}


@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -2400px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}


/* SMALLER SCREENY MCWEENIES*/

@media screen and (max-width: 1024px) {

  h4{
    text-align: center;
    line-height: 38px;
    font-size:36px;
  }

  h1{
    font-family: 'Righteous', sans-serif;
    font-size:24px;
    text-align: center;
  }

  h2, h5{
    font-size:24px;
    line-height:28px;
    text-align: center;
  }

  p{
    font-size: 18px;
    line-height:24px;
    text-align: center;
  }

  .column {
    flex: 1
  }

  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

  .some-page-wrapper {
    flex: 1;
  }

  .introduction{
    margin-top:5vh;
    text-align: center;
  }
  .intro-text h1{
    font-size: 25px;
  }
  .intro-text p{
    font-size: 18px;
  }
  .cta{
    padding: 5px 0px 10px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hero-image {
  top: 20px;
  position: relative;
  align-items: center;
}

  .locations{
    flex-direction: column;
    align-items: center;
  }
  .locations-about{
    text-align: center;
    align-items: center;
  }

}
