* {
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
}

button{
  font-family: 'Jost', sans-serif;
}
h1{
  font-family: 'Righteous', sans-serif;
  font-size:40px;
}

h4{
  font-family: 'Righteous', sans-serif;
  font-size:60px;
}

header {
  display: flex;
  width: 95%;
  align-items: center;
  margin: auto;
  margin-top: 2%;
}

main {
  margin: 15px 50px 15px 50px;
}

p {
  font-size:22px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  flex: 1;
  justify-content: flex-end;
}

.logo{
  height:20vh;
}

nav{
  flex: 1;
  background-color: blue;
  justify-content: flex-end;
}

.nav-menu{
  height: 10vh;

}

.hero{
  display: flex;
  justify-content: space-between;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}

.introduction{
  flex:1;
  padding: 0px 20px 0px 0px;
}

.intro-text h1{
  font-family: 'Righteous', sans-serif;
  font-size:40px;
}

.cta {
  padding: 50px 0px 0px 0px;
}

.cta-select{
  border-radius: 15px;
  background: #E37428;
  color: #fff;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing:2px;
  font-weight:600;
}

.cover img{
  height: 60vh;
  margin: 20px;
  align-items: center;
  flex: 1;
}

/*locations*/
.locations{
  margin-top:0px;
  margin-bottom: 30px;
  display: flex;
  align-content: space-between;
  justify-content: space-around;
  margin-bottom: 10%;
}

.locations-card{
    align-items: center;
}

/*sauce scroll*/
.container-shop {
  margin-top: 0px;
  display: flex;
  overflow-x: auto;
  align-items: center;
  height: 100vh;
}

.container-shop img {
    margin-right: 60px;
    height: 80%;
}

.container-shop::-webkit-scrollbar {
    display: none;
}

.container-card {
  height: 50%;
  drop-shadow(0px 5px 3px black);
}

/*rotate*/
#rotate {
    height:20vh;
		-webkit-animation: rotation 8s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}


/*saucy background*/
.sauce-ocean {
  z-index:-1;
  height: 100%;
  width:100%;
  position:sticky;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(../images/wave-01.svg) repeat-x;
  position: absolute;
  top: -250px;
  width: 6400px;
  height: 250px;
  animation: wave 20s cubic-bezier( 0.45, 0.5, 0.8, 0.65) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -200px;
  animation: wave 20s cubic-bezier( 0.45, 0.5, 0.8, 0.65) -.125s infinite, swell 20s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -2400px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}


/* SMALLER SCREENY MCWEENIES*/

@media screen and (max-width: 1024px) {

  h4{
    text-align: center;
  }

  .hero{
    flex-direction:column;
  }
  .introduction{
    margin-top:5vh;
    text-align: center;
  }
  .intro-text h1{
    font-size: 25px;
  }
  .intro-text p{
    font-size: 18px;
  }
  .cta{
    padding: 5px 0px 10px 0px;
  }
  .locations{
    flex-direction: column;
    align-items: center;
  }
  .locations-about{
    text-align: center;
    align-items: center;
  }

}
